{% block translation_widget %}
    {% spaceless %}
        {% set defaultLang = 'es'%}
        {% if form %}
            <script src="/bundles/fosckeditor/ckeditor.js"></script>
            <div class="form-group">
                <ul class="nav nav-tabs">                    
                    {% for locale, fields in form.vars.value %}
                        <li class="nav-item {{locale == defaultLang ? 'active' : ''}}">
                            <a class="nav-link" id="{{locale}}-tab" data-toggle="tab" role="tab" aria-controls="{{locale}}" aria-selected="true" href="#{{locale}}">{{locale}}</a>
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" id="new-tab" data-toggle="tab" role="tab" aria-controls="new" aria-selected="true"  href="#new"><i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="tab-content">                 
                    {% for locale, fields in form.vars.value %}
                        <div class="tab-pane {{locale == defaultLang ? 'active' : ''}}" id="{{locale}}" role="tabpanel" aria-labelledby="{{locale}}-tab">

                            {% for fieldName, fieldEntity in fields %}
                                {% if "textarea" == fieldEntity.getFieldType() or "ckeditor" == fieldEntity.getFieldType()%}
                                    <label for="{{locale}}{{fieldName}}{{fieldEntity.getFieldType()}}">{% trans %}%fieldName%{% endtrans %}</label>
                                    <textarea id="{{locale}}{{fieldName}}{{fieldEntity.getFieldType()}}"
                                              name="translations[{{locale}}][{{fieldName}}][{{fieldEntity.getFieldType()}}]"
                                {% if fieldEntity.getFieldType() == "textarea" %} class="form-control" {% else %} class="ckeditor" {% endif %}>
                                        {{fieldEntity.getFieldValue()}}
                                    </textarea>
                                {% elseif "checkbox" == fieldEntity.getFieldType() %}
                                    <input type="hidden" name="translations[{{locale}}][{{fieldName}}][checkbox]" value="0" />
                                    <div class="form-widget">
                                        <div class="form-check">
                                            <input id="{{locale}}{{fieldName}}{{fieldEntity.getFieldType()}}"
                                                   type="checkbox"
                                               name="translations[{{locale}}][{{fieldName}}][{{fieldEntity.getFieldType()}}]"
                                               class="form-check-input"
                                                   value="1" {% if fieldEntity.getFieldValue() == "1" %} checked="checked" {% endif %}>
                                            <label class="form-check-label" for="{{locale}}{{fieldName}}{{fieldEntity.getFieldType()}}">{% trans %}%fieldName%{% endtrans %}</label>
                                        </div>
                                    </div>
                                {% else %}
                                    <label for="{{locale}}{{fieldName}}{{fieldEntity.getFieldType()}}">{% trans %}%fieldName%{% endtrans %}</label>
                                    <input id="{{locale}}{{fieldName}}{{fieldEntity.getFieldType()}}"
                                           type="{{fieldEntity.getFieldType()}}"
                                           name="translations[{{locale}}][{{fieldName}}][{{fieldEntity.getFieldType()}}]"
                                           value="{{fieldEntity.getFieldValue()}}"
                                           class="form-control"/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="tab-pane" id="new" role="tabpanel" aria-labelledby="new-tab">
                        <label for="newlocale">locale</label>
                        {#                        <input id="newlocale" type="text" name="translations[new][locale]" value="" class="form-control"/>#}
                        {{ form_widget(form.newlocale, { 'name': 'translations[new][locale]' }) }}
                        {%   if form.vars.value != null  %}
                            {% for fieldName, fieldEntity in form.vars.value[defaultLang] %}
                                {% if "textarea" == fieldEntity.getFieldType() or "ckeditor" == fieldEntity.getFieldType()%}
                                    <label for="new{{fieldName}}{{fieldEntity.getFieldType()}}">{% trans %}%fieldName%{% endtrans %}</label>
                                    <textarea id="new{{fieldName}}{{fieldEntity.getFieldType()}}"
                                              name="translations[new][{{fieldName}}][{{fieldEntity.getFieldType()}}]"
                                            {% if fieldEntity.getFieldType() == "textarea" %} class="form-control" {% else %} class="ckeditor" {% endif %}>
                                    </textarea>
                                {% elseif "checkbox" == fieldEntity.getFieldType() %}
                                    <input type="hidden" name="translations[new][{{fieldName}}][checkbox]" value="0" />
                                    <div class="form-widget">
                                        <div class="form-check">
                                            <input id="new{{fieldName}}{{fieldEntity.getFieldType()}}"
                                                   type="checkbox"
                                                   name="translations[new][{{fieldName}}][{{fieldEntity.getFieldType()}}]"
                                                   class="form-check-input"
                                                   value="1">
                                            <label class="form-check-label" for="new{{fieldName}}{{fieldEntity.getFieldType()}}">{% trans %}%fieldName%{% endtrans %}</label>
                                        </div>
                                    </div>
                                {% else %}
                                    <label for="new{{fieldName}}{{fieldEntity.getFieldType()}}">{% trans %}%fieldName%{% endtrans %}</label>
                                    <input id="new{{fieldName}}{{fieldEntity.getFieldType()}}"
                                           type="{{fieldEntity.getFieldType()}}"
                                           name="translations[new][{{fieldName}}][{{fieldEntity.getFieldType()}}]"
                                           value=""
                                           class="form-control"/>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}
