{% block translation_widget %}
    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/essedieasytranslation/assets/css/translation.css') }}">
    {% endblock %}
    <div class="easyTranslation">
        {% spaceless %}
            {% set defaultLang = 'es'%}
            {% if form %}
                <div class="form-group">
                    <div class="tab-header">                 
                        <ul class="nav nav-tabs">                    
                            {% for locale, fields in form.vars.value %}
                                <li class="nav-item">
                                    <a class="nav-link {{locale == defaultLang ? 'active' : ''}}" id="{{locale}}-tab" data-toggle="tab" role="tab" aria-controls="{{locale}}" aria-selected="true" href="#{{locale}}">{{locale}}</a>
                                </li>
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link" id="new-tab" data-toggle="tab" role="tab" aria-controls="new" aria-selected="true"  href="#new"><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">                 
                        {% for locale, fields in form.vars.value %}
                            <div class="tab-pane {{locale == defaultLang ? 'active' : ''}}" id="{{locale}}" role="tabpanel" aria-labelledby="{{locale}}-tab">

                                {% for fieldName, fieldEntity in fields %}
                                    {% set inputName =  'translations['~locale~']['~fieldName~']['~fieldEntity.getFieldType()~']'%}
                                    {% set inputId =  locale ~ fieldName ~ fieldEntity.getFieldType()%}

                                    {% if "checkbox" == fieldEntity.getFieldType() %}
                                        <div class="form-group">
                                            <input type="hidden" name="{{ inputName }}" value="0" />
                                            <div class="form-widget">
                                                <div class="form-check">
                                                    <input id="{{inputId}}"
                                                           type="checkbox"
                                                           name="{{ inputName }}"
                                                           class="form-check-input"
                                                           value="1" {% if fieldEntity.getFieldValue() == "1" %} checked="checked" {% endif %}>
                                                </div>
                                                <label class="form-check-label" for="{{inputId}}">{{fieldName|trans}}</label>
                                            </div>
                                        </div>
                                    {% else %}

                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ inputId}}">{{fieldName|trans}}</label>
                                            <div class="form-widget">
                                                {{ form_widget(form[inputId], { 'id':inputId, 'name': inputName, 'value': fieldEntity.getFieldValue()}) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="tab-pane" id="new" role="tabpanel" aria-labelledby="new-tab">
                            <label for="newlocale">{{'locale'|trans}}</label>
                            {{ form_widget(form.newlocale, { 'name': 'translations[new][locale]' }) }}
                            {%   if form.vars.value != null  %}
                                {% for fieldName, fieldEntity in form.vars.value[defaultLang] %}
                                    {% set inputName =  'translations['~'new'~']['~fieldName~']['~fieldEntity.getFieldType()~']'%}
                                    {% set inputId =  new' ~ fieldName ~ fieldEntity.getFieldType()%}

                                    {% if "checkbox" == fieldEntity.getFieldType() %}
                                        <div class="form-group">
                                            <input type="hidden" name="{{ inputName }}" value="0" />
                                            <div class="form-widget">
                                                <div class="form-check">
                                                    <input id="{{inputId}}"
                                                           type="checkbox"
                                                           name="{{ inputName }}"
                                                           class="form-check-input"
                                                           value="1">
                                                </div>
                                                <label class="form-check-label" for="{{inputId}}">{{fieldName|trans}}</label>
                                            </div>
                                        </div>
                                    {% else %}

                                        <div class="form-group">
                                            <label class="form-control-label" for="{{ inputId}}">{{fieldName|trans}}</label>
                                            <div class="form-widget">
                                                {{ form_widget(form[inputId], { 'id':inputId, 'name': inputName}) }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                {# just let the choice widget render the select tag #}
                {{ block('choice_widget') }}
            {% endif %}
        {% endspaceless %}
    </div>
{% endblock %}